<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Categorías</h2>
    <button class="btn btn-primary" (click)="abrirModal()">
      + Agregar Categoría
    </button>
  </div>

  <div *ngIf="mostrarModal" class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title">
            {{ modoEdicion ? 'Editar Categoría' : 'Nueva Categoría' }}
          </h5>
          <button type="button" class="btn-close" (click)="cerrarModal()"></button>
        </div>
        
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" [(ngModel)]="categoria.nombre" placeholder="Ej. Laptops, Teclados...">
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" (click)="guardar()">
            {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
          </button>
        </div>

      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (categoria of categorias; track categoria.id) {
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombre }}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editar(categoria)">
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="eliminar(categoria.id!)">
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

</div>